<div class="container">
  <div class="row">
    <h2><%= "#{@model} search for '#{@content}'" %></h2>

    <!-- modelがuserの場合 -->
    <% if @model == 'user' %>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @datas.each do |data| %>
            <tr>
              <td><%= attachment_image_tag(data, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
              <td><%= data.name%></td>
              <td><%= link_to "Show", data, class: "data_#{data.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <!-- modelがbookの場合 -->
    <% if @model == 'book' %>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @datas.each do |data| %>
            <tr>
              <td><%= attachment_image_tag(data.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
              <td><%= data.title %></td>
              <td><%= data.body %></td>
              <td><%= link_to "Show", data, class: "data_#{data.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>